---
layout: archive
title: "Repositories"
permalink: /repositories/
author_profile: true
---

{% include base_path %}


<!-- {% for post in site.repositories %}
  {% include archive-single.html %}
{% endfor %} -->

I've worked on many things over the years, but I never got around to documenting them in a centralised portal.
I intend to document my older projects here at a later date, but for now here are two (related) repositories that emerged from my research into pattern formation:

{% include archive-repo.html repo="reactGPU" %}
{% include archive-repo.html repo="active-model-bplus" %}
